@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Noto Serif", ui-serif, Georgia, serif;
}

